// Application colors
$app-color-green = #00a79d
$app-color-gray = #52616B 
$app-color-dark-gray = #1E2022
$app-color-light-gray = #ecf0f1
$app-color-light-blue = #F4F7F7
$app-color-blue = #3667A6
$app-color-dark-blue = #1F4E5F

cl-emerald = #29CDB5

// Application colors
$cl          = {
  purple    : #571EC3
  emerald   : #29CDB5
  green     : #00A79D
  gray      : #666666 
  dark-gray : #1E2022
  light-gray: #ECF0F1
  light-blue: #F4F7F7
  blue      : #3667A6
  dark-blue : #1F4E5F
  red       : #e74c3c
  orange    : #F5AB35
}

$cl-job      = {
  notbuilt  : #ccc
  blue      : #3498db
  red       : #e74c3c
  aborted   : #e67e22
  disabled  : #bdc3c7
}

$cl-build    = {
  success   : #29CDB5
  failure   : #e74c3c
  aborted   : #ccc
  building  : #3667A6
}