.jn-button
    border 1px solid $app-color-gray
    color $app-color-gray
    background transparent
    cursor pointer
    font-size 14px
    padding 10px 15px
    border-radius 2px
    position relative
    &:focus
        outline 0
    &:hover
        border-color darken($app-color-gray, 15%) 
        color darken($app-color-gray, 15%) 

.jn-button-sm
    @extend .jn-button
    padding 7px 12px
    font-size 12px
    
.jn-button-group
    & > .jn-button,
    & > .jn-button-sm
        border-radius: 0
        &:not(:last-child)
            border-right-color: transparent

button-variant(variant, c, fg = white)
    .jn-button-group
         .jn-button--{variant},
         .jn-button-sm--{variant}
            &.jn-button--active,
            &.jn-button-sm--active
                background c
                color fg
            &:hover
                background lighten(c, 10%)
                color fg
                   
    .jn-button--{variant},
    .jn-button-sm--{variant}
        background transparent
        border 1px solid c
        color c
        &:hover
            border-color darken(c, 15%) 
            color darken(c, 15%)  

button-variant('green', $cl.green)
button-variant('white', #eee, #00c9bd)
button-variant('blue', $cl.blue)