.jn-bookmark
    lost-flex-container row
    &-modal
        width 100%
    &--parametrized
        .jn-bookmark__form
            lost-column 1/2 flex
            padding-right 30px
            box-sizing border-box
            border-right 1px solid #eee
    &__form
        lost-column 1 flex           
    &__params
        lost-column 1/2 flex
    &__submit
        margin-top 20px